[Unit]
Description=SFEPS Camera Image Processing
PartOf=sfeps-server.service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=iam
Group=iam
WorkingDirectory=/home/iam/SFEPS/Camera/image_processing
ExecStartPre=/usr/bin/test -x /home/iam/SFEPS/Camera/image_processing/camera_client
ExecStart=/home/iam/SFEPS/Camera/image_processing/camera_client
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
